@import 'themes/color-theme';
@import 'themes/mixins';

.newsfeed-wrapper {
    @include themed() {
        > * + * {
            margin-top: 2rem;
        }
        min-height: 100%;
        .banner {
            width: 100%;
            height: 12rem;
            background: rgb(0, 80, 255);
            background: linear-gradient(
                90deg,
                t($primary) 0%,
                t($secondary) 100%
            );
            background-size: cover;
            border-radius: 10px;
            .title-wrapper {
                padding: 2rem;
                color: #fff;
                .title {
                    font-size: 2.6rem;
                }
                .sub {
                    font-size: 1.6rem;
                }
            }
        }
        .content {
            .post-list {
                margin-top: 2rem;

                > * + * {
                    margin-top: 2rem;
                }
            }
        }
    }
}
