@import 'themes/color-theme';

.layout {
    @include themed() {
        background-color: t($background);
        .main {
            height: 100%;
            display: grid;
            grid-template-columns: $left-sider-width auto $right-sider-width;
            .content {
                // padding: 3rem;
                margin: 3rem;
                background-color: #fff;
                border-radius: 10px;
            }
        }
    }
}
