@import 'themes/color-theme';
.text {
    @include themed() {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
        // letter-spacing: 0px;
        word-break: normal;
        word-wrap: break-word;
        line-height: 1.33;
        &--small {
            word-spacing: 1px;
            line-height: 1.4 !important;
            font-size: $fs-small;
        }
        &--middle {
            word-spacing: 1.5px;
            line-height: 1.33 !important;
            font-size: $fs-middle;
        }
        &--large {
            font-size: $fs-large;
        }
        &--collapsible {
            span {
                font-weight: 500;
                color: t($text-secondary);
                cursor: pointer;
            }
        }
    }
}
