@import 'themes/color-theme';
@import 'themes/mixins';

.newsfeed-wrapper {
    @include themed() {
        min-height: 100%;
        .banner {
            width: 100%;
            height: 12rem;
            // background: url('../../assets/images/mock-cover.jpg') center
            //     no-repeat;
            background: rgb(0, 80, 255);
            background: linear-gradient(
                90deg,
                t($primary) 0%,
                t($secondary) 100%
            );
            background-size: cover;
            border-radius: 10px;
            .title-wrapper {
                // position: absolute;
                // top: 2rem;
                // left: 2rem;
                padding: 2rem;
                color: #fff;
                .title {
                    font-size: 2.6rem;
                }
                .sub {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
