@import 'themes/color-theme';

$slide-distance: 30rem;

.toast {
    @include themed() {
        position: relative;
        display: flex;
        align-items: center;
        width: 30rem;
        margin: 2rem 0;
        padding: 1.5rem 2rem;
        border-radius: 8px;
        background-color: t($text-contrast);
        color: t($text-primary);
        box-shadow: t($shadow);
        animation-duration: 0.3s;
        animation-timing-function: cubic-bezier(0.49, 1.39, 1, 1.56);
        will-change: transform;
        &__left {
            margin-right: 1rem;
            .icon {
                font-size: 2.4rem;
            }
        }
        &__right {
            .title {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                font-weight: 500;
                color: t($text-primary);
                .icon {
                    margin-right: 0.5rem;
                    font-size: 1.8rem;
                }
            }
            .content {
                margin-top: 0.6rem;
                font-size: 1.4rem;
                color: t($text-primary);
            }
        }
        &__close-icon {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            font-size: 1.5rem;
            color: t($text-secondary);
            cursor: pointer;
        }
        &--info {
            background: t($primary);
            .icon {
                color: t($text-contrast);
            }
            .title {
                color: t($text-contrast);
            }
            .content {
                color: t($text-contrast);
            }
            .toast__close-icon {
                color: t($text-contrast);
            }
        }
        &--success {
            background: t($success);
            .icon {
                color: t($text-contrast);
            }
            .title {
                color: t($text-contrast);
            }
            .content {
                color: t($text-contrast);
            }
            .toast__close-icon {
                color: t($text-contrast);
            }
        }
        &--error {
            background: t($danger);
            .icon {
                color: t($text-contrast);
            }
            .title {
                color: t($text-contrast);
            }
            .content {
                color: t($text-contrast);
            }
            .toast__close-icon {
                color: t($text-contrast);
            }
        }
        &--warning {
            background: t($warning);
            .icon {
                color: t($text-contrast);
            }
            .title {
                color: t($text-contrast);
            }
            .content {
                color: t($text-contrast);
            }
            .toast__close-icon {
                color: t($text-contrast);
            }
        }
        &--top-right {
            animation-name: toast-in-right;
        }
        &--top-left {
            animation-name: toast-in-left;
        }
        &--top-center {
            animation-name: toast-in-top;
        }
        &--bottom-right {
            animation-name: toast-in-right;
        }
        &--bottom-left {
            animation-name: toast-in-left;
        }
        &--bottom-center {
            animation-name: toast-in-bottom;
        }
    }
}

@keyframes toast-in-right {
    from {
        transform: translate3d($slide-distance, 0, 0);
    }
    to {
        transform: translate3d(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translate3d(-$slide-distance, 0, 0);
    }
    to {
        transform: translate3d(0);
    }
}

@keyframes toast-in-top {
    from {
        transform: translate3d(0, -$slide-distance, 0);
    }
    to {
        transform: translate3d(0);
    }
}

@keyframes toast-in-bottom {
    from {
        transform: translate3d(0, $slide-distance, 0);
    }
    to {
        transform: translate3d(0);
    }
}
