.toast-container {
    position: fixed;
    width: auto;
    z-index: 900;
    &--top-right {
        top: 1rem;
        right: 1rem;
    }
    &--top-left {
        top: 1rem;
        left: 1rem;
    }
    &--top-center {
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    &--bottom-right {
        bottom: 1rem;
        right: 1rem;
    }
    &--bottom-left {
        bottom: 1rem;
        left: 1rem;
    }
    &--bottom-center {
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
