@import 'themes/color-theme';

.search {
    @include themed() {
        align-self: center;
        position: relative;
        max-width: 36rem;
        width: 100%;
        // height: auto;
        input {
            width: 100%;
            height: 100%;
            padding: 1.1rem 3.5rem 1.1rem 1.5rem;
            border-radius: 10px;
            color: t($text-contrast);
            background-color: darken(t($primary), 4%);
            &::placeholder,
            &::-webkit-input-placeholder {
                font-size: 1.2rem;
                color: t($text-secondary);
            }
        }
        .icon {
            position: absolute;
            top: 50%;
            right: 1rem;
            font-size: 2rem;
            color: t($text-secondary);
            transform: translateY(-50%);
            cursor: pointer;
            transition: opacity ease 0.2s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
