@import 'themes/color-theme';

.divider {
    @include themed() {
        width: 100%;
        background-color: t($border);
        &--middle {
            height: 0.5px;
        }
        &--large {
            height: 1px;
        }
    }
}
