@import 'themes/color-theme';

.divider {
    @include themed() {
        // width: 100%;
        margin: 0 auto;
        background-color: t($border);
        &--middle {
            height: 0.5px;
        }
        &--large {
            height: 1px;
        }
    }
}
