@import 'themes/color-theme';

.comment {
    @include themed() {
        position: relative;
        display: flex;
        padding: 1.5rem 3rem 1rem;
        border-bottom: 1px solid t($border);

        // &__user {
        // }
        &__main {
            margin-left: 1rem;
        }
        &__body {
            display: flex;
            align-items: center;
            &:hover .action {
                opacity: 1;
            }
            .container {
                width: calc(100% - 3rem - 0.7rem);
                border-radius: 10px;
                margin-right: 0.7rem;
                padding: 0 1rem 0.8rem 0;
                // background-color: darken(t($text-contrast), 5%);

                color: t($text-primary);
                .username {
                    font-size: 1.4rem;
                    font-weight: 500;
                }
                .content {
                    margin-top: 0.2rem;
                }
            }
            .action {
                $size: 3rem;
                display: grid;
                place-items: center;
                width: $size;
                height: $size;
                font-size: 1.6rem;
                border-radius: 50%;
                color: t($text-secondary);
                cursor: pointer;
                transition: background-color ease 0.2s, opacity ease 0.2s;
                opacity: 0;
                &:hover {
                    background-color: darken(t($text-contrast), 5%);
                }
            }
        }
        &__footer {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 500;
            color: t($text-secondary);
            & > * + * {
                margin-left: 1rem;
            }
            .time {
                font-weight: 400;
            }
        }
        &__see-reply {
            position: absolute;
            top: 1rem;
            right: 1rem;
            display: flex;
            align-items: center;
        }
    }
}
.see-reply {
    @include themed() {
        position: relative;
        margin-left: 8rem;

        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: -3rem;
        //     width: 2rem;
        //     height: 1rem;
        //     border-style: solid;
        //     border-width: 0 0 1px 1px;
        //     border-bottom-left-radius: 4px;
        //     border-color: #000;
        // }
    }
}
