@import 'themes/color-theme';

.comment {
    @include themed() {
        position: relative;
        display: flex;
        padding: 0 2rem;
        // border-bottom: 1px solid t($border);

        &__user {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                width: 2rem;
                height: calc(100% - 0.5rem);
                // background-color: t($border);
                border-bottom-left-radius: 10px;
                border: solid t($border);
                border-width: 0 0 1px 1px;
                // transform: translateX(-50%);
            }
        }
        &__main {
            margin-left: 1rem;
        }
        &__body {
            display: flex;
            align-items: center;
            &:hover .action {
                opacity: 1;
            }
            .container {
                width: calc(100% - 3rem - 0.7rem);
                border-radius: 10px;
                margin-right: 0.7rem;
                // padding: 0 1rem 0.8rem 0;
                padding: 1rem;
                background-color: darken(t($text-contrast), 5%);

                color: t($text-primary);
                .username {
                    font-size: 1.4rem;
                    font-weight: 500;
                }
                .content {
                    margin-top: 0.2rem;
                }
                &--loading {
                    color: t($text-secondary);
                }
            }
            .action {
                $size: 3rem;
                display: grid;
                place-items: center;
                width: $size;
                height: $size;
                font-size: 1.6rem;
                border-radius: 50%;
                color: t($text-secondary);
                cursor: pointer;
                transition: background-color ease 0.2s, opacity ease 0.2s;
                opacity: 0;
                &:hover {
                    background-color: darken(t($text-contrast), 5%);
                }
            }
        }
        &__footer {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 1rem 1rem 0 1rem;
            color: t($text-secondary);
            & > * + * {
                margin-left: 1rem;
            }
            .time {
                font-weight: 400;
            }
        }
        &__see-reply {
            position: relative;
            display: inline-block;
            margin: 1rem 0 0 1rem;
            font-weight: 500;
            transition: opacity ease 0.2s;
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }
        &--child {
            margin-left: 5rem;
        }
    }
}
.see-reply {
    @include themed() {
        position: relative;
        display: inline-block;
        margin-left: 11rem;
        font-weight: 500;
        transition: opacity ease 0.2s;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: -3rem;
        //     width: 2rem;
        //     height: 1rem;
        //     border-style: solid;
        //     border-width: 0 0 1px 1px;
        //     border-bottom-left-radius: 4px;
        //     border-color: #000;
        // }
    }
}
