@import './variables';

$text-primary: 'text-primary';
$text-secondary: 'text-secondary';
$text-contrast: 'text-contrast';
$link: 'link';
$hover: 'hover';
$border: 'border';
$shadow: 'shadow';
$warning: 'warning';
$success: 'success';
$danger: 'danger';
$primary: 'primary';
$secondary: 'secondary';

$themes: (
    default: (
        text-primary: $text--primary--default,
        text-secondary: $text--secondary--default,
        text-contrast: $text--contrast--default,
        link: $link--default,
        hover: $hover--default,
        border: $border--default,
        shadow: $shadow--default,
        warning: $warning--default,
        success: $success--default,
        danger: $danger--default,
        primary: $primary--default,
        secondary: $secondary--default,
    ),
    dark: (
        text-primary: $text--primary--dark,
        text-secondary: $text--secondary--dark,
        text-contrast: $text--contrast--dark,
        link: $link--dark,
        hover: $hover--dark,
        border: $border--dark,
        shadow: $shadow--dark,
        warning: $warning--dark,
        success: $success--dark,
        danger: $danger--dark,
        primary: $primary--dark,
        secondary: $secondary--dark,
    ),
);

@mixin themed() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key) {
    @return map-get($theme-map, $key);
}
