@import './variables';

@mixin hover($c, $isBgC: false) {
    cursor: pointer;
    @if ($isBgC) {
        transition: background ease 0.2s;
    } @else {
        transition: color ease 0.2s;
    }
    &:hover {
        @if ($isBgC) {
            background-color: lighten($c, 5%);
        } @else {
            color: lighten($c, 5%);
        }
    }
}

@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin active($c) {
    cursor: pointer;
    transition: transform ease 0.2s, background ease 0.2s, color ease 0.2s;
    &:active {
        transform: scale(0.95);
        background-color: darken($c, 5%);
    }
}
