@import './variables';

@mixin hover($c, $isBgC: false) {
    cursor: pointer;
    @if ($isBgC) {
        transition: background ease 0.2s;
    } @else {
        transition: color ease 0.2s;
    }
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

    &:hover {
        @if ($isBgC) {
            background-color: lighten($c, 10%);
        } @else {
            color: lighten($c, 10%);
        }
    }
}

@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin active($c) {
    transition: transform ease 0.2s, background ease 0.2s, color ease 0.2s;
    &:active {
        transform: translateY(2px);
        background-color: darken($c, 2%);
        color: #fff;
    }
}
