@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');
// DEFAULT THEME

$text--primary--default: #333045;
$text--secondary--default: #b4b5c5;
$text--contrast--default: #fff;
$link--default: #83dde9;
$hover--default: rgb(241, 240, 240);
$border--default: #dbdce0;
$shadow--default: 0px 0px 3.2px #bbbbbb33;
$warning--default: #ffaa2a;
$success--default: #33e651;
$info--default: #417fdb;
$danger--default: #fc434f;
$primary--default: #615efa;
$ghost--default: #ffffff;
$secondary--default: #20d2e3;
$background--default: #f8f7fc;

// DARK THEME

$text--primary--dark: #fff;
$text--secondary--dark: #b0b3b8;
$text--contrast--dark: rgb(112, 106, 106);
$link--dark: #83dde9;
$hover--dark: hover;
$border--dark: border;
$shadow--dark: 0px 0px 5px -5px rgb(209, 192, 192);
$warning--dark: warning;
$info--dark: #417fdb;
$success--dark: success;
$danger--dark: #fc434f;
$primary--dark: #232626;
$ghost--dark: #a3a3a3;
$secondary--dark: #20d2e3;
$background--dark: #191a1b;

// COMMON
$main-font: 'Fira Sans', sans-serif;
$header-height: 6.5rem;
$left-sider-width: 26rem;
$left-sider-width-collapsed: 8rem;
$right-sider-width: 8rem;

// COMPONENTS
$fs-small: 1.3rem;
$fs-middle: 1.5rem;
$fs-large: 1.7rem;
