@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

// DEFAULT THEME

$text--primary--default: #333045;
$text--secondary--default: #b4b5c5;
$text--contrast--default: #fff;
$link--default: #83dde9;
$hover--default: hover;
$border--default: #dbdce0;
$shadow--default: 0px 0px 15px -5px #afaeae;
$warning--default: #ffaa2a;
$success--default: #35f53f;
$info--default: #417fdb;
$danger--default: #fc434f;
$primary--default: #615efa;
$secondary--default: #5d6768;
$background--default: #f8f7fc;

// DARK THEME

$text--primary--dark: text-primary;
$text--secondary--dark: text-secondary;
$text--contrast--dark: text-contrast;
$link--dark: #83dde9;
$hover--dark: hover;
$border--dark: border;
$shadow--dark: 0px 0px 5px -5px rgb(209, 192, 192);
$warning--dark: warning;
$info--dark: #417fdb;
$success--dark: success;
$danger--dark: #fc434f;
$primary--dark: #615efa;
$secondary--dark: #20d2e3;
$background--dark: #f8f7fc;

// COMMON
$main-font: 'Poppins', sans-serif;
$header-height: 6rem;
$left-sider-width: 26rem;
$right-sider-width: 8rem;
