@import 'themes/color-theme';
@import 'themes/mixins';

.login-form {
    @include themed() {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 45rem;
        width: 100%;
        border-radius: 10px;
        padding: 1rem 6rem;
        background-color: #fff;
        box-shadow: t($shadow);
        .rocket {
            position: absolute;
            top: -8%;
            left: -10%;
            width: 14rem;
            height: auto;
        }
        .title {
            color: t($text-primary);
            font-weight: 700;
            margin: 4rem 0;
        }
        .sub-title {
            margin-bottom: 1rem;
            font-size: 1.4rem;
            font-weight: 400;
            color: t($text-secondary);
        }
        .input {
            width: 100%;
        }
        .util {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-size: 1.3rem;
            font-weight: 600;
            align-items: center;
            margin: 2rem 0;
            // height: 4rem;
            .remember {
                color: t($text-primary);
                cursor: pointer;
                display: block;
                position: relative;
                padding-left: 3rem;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                    &:checked ~ .check-mark::after {
                        display: block;
                    }
                    &:checked ~ .check-mark::before {
                        display: block;
                    }
                }
                .check-mark {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 1.8rem;
                    height: 1.8rem;
                    border-radius: 3px;
                    background-color: t($secondary);
                    transform: translateY(-50%);
                    &::after,
                    &::before {
                        display: none;
                        content: '';
                        position: absolute;
                        width: 1.2rem;
                        height: 3px;
                        top: 50%;
                        left: 50%;
                        border-radius: 2px;
                        background-color: #fff;
                    }
                    &::before {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                    &::after {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                }
            }
            .forgot-password {
                color: t($text-secondary);
                cursor: pointer;
                transition: opacity ease 0.2s;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .btn {
            width: 100%;
            margin: 2rem 0;
            padding: 1.5rem 3rem;
            height: 5rem;
            font-weight: 600;
            border-radius: 10px;
            color: t($text-contrast);
            background-color: t($secondary);
            cursor: pointer;
            transition: all ease 0.2s;
            &:hover {
                transform: scale(1.05);
                color: t($secondary);
                background-color: t($text-contrast);
                box-shadow: t($shadow);
            }
        }
        .divider {
            position: relative;
            width: 100%;
            height: 1px;
            background-color: t($border);
            margin: 2rem 0;
            .text {
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: #fff;
                font-weight: 600;
                font-size: 1.3rem;
                color: t($text-primary);
                width: 75%;
                text-align: center;
                transform: translate(-50%, -50%);
                @media screen and (max-width: 960px) {
                    width: 100%;
                }
            }
            // display: inline-block;
            // justify-self: center;
            // position: relative;
            // font-weight: 600;
            // font-size: 1.4rem;
            // color: t($text-primary);
            // &:before,
            // &:after {
            //     content: '';
            //     position: absolute;
            //     top: 50%;
            //     width: 8rem;
            //     height: 1px;
            //     background-color: t($border);
            //     transform: translateY(-50%);
            // }
            // &::before {
            //     left: -10rem;
            //     transform-origin: center right;
            // }
            // &::after {
            //     right: -10rem;
            //     transform-origin: center left;
            // }
        }
        .social {
            display: flex;
            flex-direction: row;
            margin: 2.5rem 0;
            .item {
                position: relative;
                width: 4rem;
                height: 4rem;
                margin: 0 1.6rem;
                border-radius: 10px;
                background-color: t($primary);
                transition: all ease 0.2s;
                cursor: pointer;
                &:hover {
                    transform: scale(1.1);
                    box-shadow: t($shadow);
                    background-color: #fff;
                    &.google .icon {
                        color: #ea4335;
                    }
                    &.facebook .icon {
                        color: #1a77f1;
                    }
                    &.github .icon {
                        color: #211f1f;
                    }
                }

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 1.8rem;
                    color: #fff;
                    transform: translate(-50%, -50%);
                    transition: transform ease 0.2s;
                }
            }
            .google {
                background-color: #ea4335;
            }
            .github {
                background-color: #211f1f;
            }
            .facebook {
                background-color: #1a77f1;
            }
        }
        .reminder {
            font-size: 1.1rem;
            line-height: 1.6;
            margin: 1rem 0 3rem;
            color: t($text-primary);
            a {
                color: t($text-secondary);
            }
        }
        .home-link {
            text-decoration: underline;
            cursor: pointer;
            color: t($text-primary);
            font-size: 1.3rem;
            margin-bottom: 1rem;
            transition: opacity ease 0.2s;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
