@import 'themes/color-theme';

.signup-page {
    @include themed() {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        min-height: 100vh;
        background: url('../../assets/images/bg.PNG') no-repeat center;
        background-size: cover;
        > * {
            margin: 0 4rem;
        }
        .welcome {
            display: flex;
            flex-direction: column;
            height: 36rem;
            text-align: center;
            .heading {
                .sub {
                    text-transform: uppercase;
                    color: t($text-contrast);
                }
                .main {
                    font-size: 10rem;
                    text-transform: uppercase;
                    line-height: 1.2;
                    font-weight: 800;
                    color: t($text-contrast);
                }
            }
            .welcome-text {
                color: t($text-contrast);
            }
            .btn-group {
                position: relative;
                overflow: hidden;
                width: 32rem;
                margin: 0 auto;
                border-radius: 10px;
                border-color: t($text-contrast);
                border-style: solid;
                border-width: 1px;
                .btn {
                    width: 50%;
                    padding: 1.5rem 0;
                    font-weight: 900;
                    font-size: 1.4rem;
                    text-align: center;
                    color: t($text-contrast);
                    cursor: pointer;
                    &--active {
                        color: t($text-primary);
                        background-color: #fff;
                    }
                    z-index: 2;
                }
                .btn-login {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
                .btn-register {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }
    }
}
