@import 'themes/color-theme';

.form-input {
    @include themed() {
        position: relative;
        border-radius: 10px;
        width: 100%;
        font-size: 1rem;
        margin: 1.6rem 0;
        input {
            width: 100%;
            padding: 1.2rem 3rem 1.2rem 1.5rem;
            color: t($text-primary);
            border-radius: 10px;
            font-size: 1.4rem;
            font-weight: 600;
            border: 1px solid t($border);
            background-color: transparent;
            &:focus,
            &:-webkit-autofill,
            &:not(:placeholder-shown) {
                & + label {
                    background-color: #fff;
                    transform: translate3d(0, -200%, 0px);
                    cursor: default;
                }
            }
        }
        label {
            position: absolute;
            top: 50%;
            left: 1.5rem;
            padding: 0 0.5rem;
            font-size: 1.2rem;
            color: t($text-secondary);
            background-color: transparent;
            transform: translateY(-50%);
            will-change: transform;
            transition: transform ease 0.2s;
            cursor: text;
        }
        .error {
            color: t($danger);
            font-size: 1.2rem;
            position: absolute;
            bottom: -2rem;
            left: 1.5rem;
            right: 1.5rem;
        }
        .icon {
            position: absolute;
            top: 50%;
            right: 1rem;
            font-size: 2rem;
            color: t($text-primary);
            transform: translateY(-50%);
            transition: opacity ease 0.2s;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
