@import 'themes/variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-size: 10px;
    font-family: $main-font;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input {
    font-family: $main-font;
    border: none;
    outline: none;
    &:active,
    &:visited,
    &:focus,
    focus-visible {
        outline: 0;
        border: 0;
    }
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
    display: none;
}

// OVERRIDE CSS
a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
}

button {
    background: none;
    outline: none;
    border: none;
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

// MAIN CSS
.layout {
    min-height: 100vh;
    width: 100%;
}

.flex-grow {
    flex-grow: 1;
}

p {
    font-size: 1.6rem;
}
