@import 'themes/color-theme';
@import 'themes/mixins';

.menu-sider {
    @include themed() {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: t($text-contrast);
        box-shadow: t($shadow);
        .user-profile {
            .cover-img {
                position: relative;
                width: 100%;
                height: 10rem;
                overflow: hidden;
                img {
                    transform: scale(1.1);
                }
                z-index: 1;
            }
            .avatar {
                margin: -4rem auto 0;
            }
            .name-wrapper {
                margin: 1rem auto 0;
                text-align: center;
                & > * + * {
                    margin-top: 0.8rem;
                }
                .name {
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: t($text-primary);
                }
                .website {
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: t($text-secondary);
                }
            }
        }
        transition: all ease 0.2s;
        // will-change: width;

        .menu-list {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: t($text-secondary);
                padding: 1.2rem 1.6rem;
                margin: 1rem 2rem;
                font-size: 1.4rem;
                font-weight: 600;
                border-radius: 10px;
                cursor: pointer;
                .icon {
                    font-size: 2rem;
                    margin-right: 2rem;
                }
                transition: all ease 0.2s;
                &:hover {
                    // box-shadow: t($shadow);
                    box-shadow: 2px 2px 20px -5px rgb(216, 203, 203);
                }
                &--active {
                    background-color: t($secondary);
                    color: t($text-contrast);
                    box-shadow: 2px 2px 20px -5px rgb(216, 203, 203);
                }
            }
        }

        .collapse-btn {
            $size: 4rem;
            position: relative;
            width: $size;
            height: $size;
            border-radius: 10px;
            background-color: t($primary);
            margin: 0 2rem 2rem auto;
            box-shadow: t($shadow);
            @include hover(t($primary), true);
            .icon {
                font-size: 2rem;
                color: t($text-contrast);
                @include absoluteCenter();
            }
        }
        transition: width ease 0.2s;
        will-change: width;
        &--collapsed {
            width: $left-sider-width-collapsed;
            .user-profile {
                .cover-img {
                    display: none;
                    // visibility: collapse;
                }
                .avatar {
                    margin: 1rem auto;
                }
                .name-wrapper {
                    display: none;
                    // visibility: collapse;
                }
            }
            .menu-list {
                .item {
                    padding: 1rem;
                    margin: 1rem auto;
                    .icon {
                        margin: 0 auto;
                        font-size: 2rem;
                    }
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}
