@import 'themes/color-theme';
.menu-sider {
    @include themed() {
        width: 100%;
        height: calc(100vh - #{$header-height});
        background-color: #fff;
        position: sticky;
        .user-profile {
            .cover-img {
                position: relative;
                width: 100%;
                height: 10rem;
                overflow: hidden;
                img {
                    transform: scale(1.1);
                }
                z-index: 1;
            }
            .avatar {
                margin: -4rem auto 0;
            }
            .name-wrapper {
                margin: 1rem auto 0;
                text-align: center;
                & > * + * {
                    margin-top: 0.8rem;
                }
                .name {
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: t($text-primary);
                }
                .website {
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: t($text-secondary);
                }
            }
        }
    }
}
